@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body,
:root {
  height: 100%;
  letter-spacing: 0.015em;
}

.rdrDateRangeWrapper {
  width: 100%;
}

.rdrMonth {
  width: 100% !important;
}
